.footer {
    background-color: var(--primary-color);
    color: white;
    padding: var(--padding);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    text-align: center;
    margin-top: var(--padding);
}

.footer p {
    margin: 5px 0;
    font-size: var(--font-size-medium);
}